.container {
	display: flex;
	flex-direction: column;
	align-items: center;
  }

body {
	background: #fcfcfa;
	height: auto;
	position: center;
	width: auto;
}

h1 {
	font-family: Sans-Serif;
	color: #5f5f5f;
	font-size: 21px;
	font-weight: regular;
	margin: 50px 0 25px 0;
}

#projection-menu {
	right: 10px;
	top: 10px;
}

.stroke {
	fill: none;
	stroke: #5f5f5f;
	stroke-width: 3px;
}

.fill {
	fill: #fff;
}

.graticule {
	fill: none;
	stroke: #777;
	stroke-width: 0.5px;
	stroke-opacity: 0.5;
}

.land {
	fill: #222;
	stroke: #fff;
	stroke-width: 0.5px;
}

.boundary {
	fill: none;
	stroke: #fff;
	stroke-width: 0.5px;
}

input[type=text], select {
	padding: 5px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.button {
    background-color: #dddddd;
    border: none;
    color: #474747;
    border-radius: 5px;
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 10px;
    cursor: pointer;
}

button:hover { 
    background-color: #d8d8d8;
}

.hidden {
	display: none;
}

div.tooltip {
	position: absolute;
	left: 75px;
	text-align: center;
	padding: 8px;
	font-size: 11px;
	font-family: 'Proxima-Nova', sans-serif;
	background: #FFFFFF;
	border: 1px solid #989898;
	pointer-events: none;
	border-radius: 5px;
  }

  .tooltip:hover .tooltiptext{
	  visibility: visible;
  }

  .legend {
	width: 900px;
	height: 80px;
	justify-content: center;
}

/* --------- Slider --------------- */
.coordText {
	font-family: Sans-Serif;
	color: #5f5f5f;
	font-weight: bold;
}

.coordSubtext {
	font-family: Sans-Serif;
	color: #5f5f5f;
    font-size: 13px;
    font-style: italic;
    margin-top: -10px;
}

.slidecontainer {
	justify-content: center;
}

.slider {
	-webkit-appearance: none;
	width: 960px;
	height: 25px;
	background:#e3e3e3;
	outline: none;
	margin-bottom: 25px;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	box-shadow: 0px 0px 1px #525863;
	border-radius: 5px;
	width: 19px;
	height: 33px;
	background: #3182bd;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 19px;
	height: 33px;
	border-radius: 5px;
	box-shadow: 0px 0px 1px #525863;
	background: #3182bd;
	cursor: pointer;
}
/* --------- End of slider --------------- */

